.container {
  display: grid;
  grid-template-rows: repeat(2, auto); /*2개의 행 auto 반복*/
  grid-template-columns: repeat(
    auto-fill,
    minmax(33%, auto)
  ); /*열 자동채움,비율 33%*/
  grid-auto-flow: dense; /*빈셀 채우기*/
}

.item:nth-child(7) {
  grid-column: auto / span 3; /*7번째 셀을 3칸늘림*/
}

.item456 p {
  text-align: center;
}

.image {
  float: none;
  border: 2px;
  border-style: solid transparent;
  border-radius: 20px;
  width: 70%;
  height: 200px;
  margin-top: 5%;
  margin-left: 15%;
}

#image2 {
  float: none;
  border: 3px gold;
  border-style: solid;
  width: 60%;
  height: 1000px;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 10%;
}
